* {
  box-sizing: border-box;
}

body {
  font-family: Fira Code, 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0.8em;
}

html,
body,
#root,
main {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

main pre {
  flex-grow: 1;
  overflow: scroll;
}

input {
  font: inherit;
  width: 100%;
  background: transparent;
  border: 0.2em solid white;
  padding: 0.5em;
  color: inherit;
}
pre {
  font: inherit;
}
pre div {
  margin-bottom: 0.2em;
}
