* {
  box-sizing: border-box;
}

body {
  font-family: Fira Code, 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0.8em;
}

html,
body,
#root,
main {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

select {
  appearance: none;
  background: inherit;
  color: inherit;
  font: inherit;
  padding: 0 0.2em;
  border-radius: 0;
}
